node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*-key.json
/.npm
/vendor
/public_html/ja
/public_html/en
/public_html/js/dist
/frontend/.nvmrc
scripts/node_modules/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.bash_history
.bash_logout
.bash_profile
.bashrc
.gitconfig
.ssh/
.vim/
.viminfo
.editorconfig
.zshrc
.subversion/
.composer/
.gitattributes
/google-cloud-sdk
/.bashrc.backup
/.boto
/.config
/.gsutil
/.cache
/.nvm
.DS_Store

